{% extends "base.html" %}
{% block content %}
<form class="calc-form" onsubmit="return calculate();">
    Spot Price <input type="text" name="spot">
    Item Price <input type="text" name="price">
    Item Weight (troy ounces) <input type="text" name="oz">
    <input type="submit" value="Submit">
</form>
<div class="results">
</div>
<hr>
<form class="convert-form" onsubmit="return convert();">
    Amount <input type="text" name="amount">
    <input type="checkbox" name="grams">Grams
    <input type="checkbox" name="ounces">Ounces
    <input type="submit" value="Submit">
</form>
<div class="conversion">
</div>
{% endblock %}
